.panel{
  display: grid;
 grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
  grid-column-gap: 30px ;
  grid-row-gap: 30px ;

  @media (max-width: 880px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}